<!DOCTYPE html>
<html style="height: 100vh; box-sizing: border-box; overflow: hidden; padding: 1vw;" class="lg:bg-[#4b1a25]" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="" type="image/x-icon">
  <link rel="stylesheet" href="/output.css">
  <link rel="stylesheet" href="/custom.css">
  <title> <%= pageTitle %> </title>
</head>

<body class="lg:bg-slate-200 lg:p-[1.5vw] flex flex-col-reverse lg:flex-row lg:h-[94vh] overflow-hidden rounded-[10px] lg:rounded-[25px] m-0 layout-body">
  <header class="h-[6vh] lg:h-[88vh] lg:w-[6vw] flex lg:flex-col lg:justify-between items-center lg:py-8 mt-[1vw] lg:mt-0 rounded-[10px] lg:rounded-[25px] bg-[#1c0c19] header-nav">
    <a class="hidden lg:block" href="/"><img width="50" height="50" src="logo.png" alt="logo"></a>
    <nav class="w-full h-full">
      <ul class="flex w-full h-full justify-around lg:justify-center items-center lg:flex-col lg:space-y-10 px-10 lg:px-0">
        <li><a href="/"><img width="25" height="25" src="icons/home.svg" /></a></li>
        <li><a href="/member"><img width="25" height="25" src="icons/member.svg" /></a></li>
        <li><a href="/projects"><img width="25" height="25" src="icons/project.svg" /></a></li>
        <li><a href="/contact"><img width="25" height="25" src="icons/contact.svg" /></a></li>
      </ul>
    </nav>
    <a class="hidden lg:block" href=""><img width="30" height="30" src="icons/sun.svg" /></a>
  </header>

  <!-- Scrollable Content -->
  <%- include(content) %>

</body>
</html>
