<main class="flex-1 overflow-y-auto ml-[2vw] [::-webkit-scrollbar]:hidden [scrollbar-width:none] relative" style="height: 88vh; border-radius: 25px;">
    <section style="z-index: -100;" class="hidden lg:block">
        <div style="background: #3c7068; width: 65vw; height: 88vh; border-radius: 25px 25px 0px 30px;" class="absolute"></div>
        <div style="background: #3c7068; width: 40vw; height: calc(82vh - 1vw); border-radius: 0 30px 30px 0;" class="absolute right-0 bottom-0"></div>
        <div style="background: #3c7068; width: 40vw; height: 40vh; margin-top: 3vh; margin-right: 10vw;" class="absolute right-0 top-0"></div>
    </section>
    <section style="background: white; padding: 0px 0px 1vw 1vw; border-bottom-left-radius: 30px;" class="absolute right-0 hidden lg:block">
        <div style="width: 20vw; height: 6vh; border-radius: 25px; background: #081a1b;" class="flex items-center justify-between px-5 text-white">
            <a href="#">CyNexa</a>
            <a href="#">XeNon</a>
            <a href="#">Sidroy</a>
            <a href="#">Agatha</a>
        </div>
    </section>
    <section style="padding: 10px; width: auto; height: 88vh; z-index: 100; position: relative;" class="lg:bg-transparent bg-[#3c7068]">
       
    </section>
</main>