<main
    class="lg:flex-1 overflow-y-auto lg:ml-[1.5vw] [::-webkit-scrollbar]:hidden [scrollbar-width:none] lg:relative rounded-[10px] lg:rounded-[25px] landing-hero-container">
    <section style="z-index: 100;"
        class="relative flex flex-col bg-[url('/image/hero-bg.webp')] bg-cover justify-center p-5 lg:p-10 rounded-[10px] lg:rounded-[25px] home-sec1-hero">
        <div>
            <span class="font-mono text-xl text-orange-500 lg:text-3xl">CODEBYTE</span>
            <h1 class="text-5xl text-white font-semibold lg:text-8xl">CODE. <span
                    class="text-transparent hero-h1-span">GAME.</span> <br>DOMINATE.</h1>
            <h3 class="text-gray-200 font-light pl-2 border-l-2 border-orange-500 lg:text-xl">Coders by day, gamers by
                night. Building, competing, and redefining the digital world one line at a time
            </h3>
        </div>
        <div class="mt-4 lg:mt-8 flex space-x-4">
            <button class="px-5 py-2 rounded-lg border-2 border-orange-500 text-white bg-orange-500">EXPLORE</button>
            <button class="px-5 py-2 rounded-lg border-2 border-orange-500 text-orange-500 bg-transparent">JOIN
                US</button>
        </div>
    </section>

    <section class="p-5 lg:p-10 rounded-[10px] lg:rounded-[25px] bg-[#1c0c19] mt-[1vw] lg:mt-[1.5vw]">
        <span class="font-mono text-orange-500 lg:text-2xl">ABOUT</span>
        <h3 class="text-2xl lg:text-4xl text-white">Team CodeByte</h3>
        <p class="text-gray-200 font-light pl-2 border-l-2 border-orange-500 mt-2 lg:text-xl">We are a team of coders,
            ethical hackers, designers, and gamers, united by our passion for technology and
            esports. From building sleek websites and exploring cybersecurity to mastering game strategies, we push
            limits, create new experiences, and dominate the digital world.</p>
    </section>

    <section class="p-5 lg:p-10 rounded-[10px] lg:rounded-[25px] bg-[#1c0c19] mt-[1vw] lg:mt-[1.5vw]">
        <div class="flex justify-between items-center h-[40vh] overflow-hidden pt-5">
            <div>
                <h2 class="text-white text-8xl"><span class="text-transparent hero-h1-span">CY</span>NEX<span class="text-transparent hero-h1-span">A</span></h2>
                <p class="text-xl text-gray-200">Ethical Hacker | Web Developer | Founder</p>
            </div>
            <img class="h-full object-cover object-top" src="image/nick.webp" alt="CyNexa">
        </div>

        <hr class="border-2 border-orange-500">

        <div class="flex justify-between items-center h-[40vh] overflow-hidden pt-5">
            <img class="h-full object-cover object-top" src="image/xenon.webp" alt="XeNon">
            <div class="text-right">
                <h2 class="text-white text-8xl">XEN<span class="text-transparent hero-h1-span">ON</span></h2>
                <p class="text-xl text-gray-200">Computer Science Student | Analyst</p>
            </div>
        </div>

        <hr class="border-2 border-orange-500">

        <div class="flex justify-between items-center h-[40vh] overflow-hidden pt-5">
            <div>
                <h2 class="text-white text-8xl">SID<span class="text-transparent hero-h1-span">ROY</span></h2>
                <p class="text-xl text-gray-200">Gamer | Animator | Game Developer</p>
            </div>
            <img class="h-full object-cover object-top" src="image/sidroy.webp" alt="SidRoy">
        </div>

        <hr class="border-2 border-orange-500">

        <div class="flex justify-between items-center h-[40vh] overflow-hidden pt-5">
            <img class="h-full object-cover object-top" src="image/agatha.webp" alt="Agatha">
            <div class="text-right">
                <h2 class="text-white text-8xl">AGATHA</h2>
                <p class="text-xl text-gray-200">Professional UI/UX Designer</p>
            </div>
        </div>
    </section>
</main>