<main
    class="lg:flex-1 overflow-y-auto lg:ml-[1.5vw] [::-webkit-scrollbar]:hidden [scrollbar-width:none] lg:relative rounded-[10px] lg:rounded-[25px] landing-hero-container">
    <section class="p-5 lg:p-10 rounded-[10px] lg:rounded-[25px] bg-[#1c0c19]">
        <div>
            <h2 class="text-white text-2xl lg:text-4xl leading-none">CYNEXA</h2>
            <p class="text-xs lg:text-lg text-white/50">Titas Mandal</p>
        </div>
        <div class="">
            <p class="text-white font-light text-xs lg:text-lg mt-2 border-l-2 border-orange-500 pl-2">
                The founder of CodeByte, an Ethical Hacker and Full-Stack Developer with a Strong Passion for
                Cybersecurity, Software Development, and Innovative Technology. Dedicated to Building Secure and
                Efficient Applications, Leading the Team, and Ensuring Seamless Project Execution.
            </p>
            <div class="mt-4 lg:mt-8">
                <h3 class="text-white text-xl lg:text-2xl leading-none">TECH STACK</h3>
                <ul class="font-light lg:text-lg">
                    <li class=""><strong class="text-sm lg:text-xl text-white/90 font-light">Frontend:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>HTML, CSS, JavaScript (Mid-level)</li>
                            <li>Tailwind CSS for modern UI</li>
                            <li>EJS for templating</li>
                            <li>Learning React.js to go pro</li>
                        </ul>
                    </li>
                    <li class="mt-4"><strong class="text-sm lg:text-xl text-white/90 font-light">Backend:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>Node.js & Express.js (Starting out)</li>
                            <li>EJS for server-side rendering</li>
                        </ul>
                    </li>
                    <li class="mt-4"><strong class="text-sm lg:text-xl text-white/90 font-light">Database:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>Still exploring (SQL/NoSQL undecided)</li>
                        </ul>
                    </li>
                    <li class="mt-4"><strong class="text-sm lg:text-xl text-white/90 font-light">Cybersecurity & Ethical Hacking:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>Penetration testing & secure coding</li>
                            <li>Networking & security tools</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="p-5 lg:p-10 rounded-[10px] lg:rounded-[25px] bg-[#1c0c19] mt-[1vw] lg:mt-[1.5vw]">
        <div>
            <h2 class="text-white text-2xl lg:text-4xl leading-none">XENON</h2>
            <p class="text-xs lg:text-lg text-white/50">Soumya Roy Chaudhuri</p>
        </div>
        <div class="">
            <p class="text-white font-light text-xs lg:text-lg mt-2 border-l-2 border-orange-500 pl-2">
                Computer Science student and Professional Analyst with Expertise in Python Scripting for Data
                Analysis, Scraping and Automation. Specializes in Optimizing Workflows, Extracting Insights from Complex Data,
                and Enhancing System Performance Through Efficient Scripting.
            </p>
            <div class="mt-4 lg:mt-8">
                <h3 class="text-white text-xl lg:text-2xl leading-none">TECH STACK</h3>
                <ul class="font-light lg:text-lg">
                    <li class=""><strong class="text-sm lg:text-xl text-white/90 font-light">Programming Languages:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>C/C++</li>
                            <li>Pyhton</li>
                        </ul>
                    </li>
                    <li class="mt-4"><strong class="text-sm lg:text-xl text-white/90 font-light">Data Analysis & Processing:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>NumPy</li>
                        </ul>
                    </li>
                    <li class="mt-4"><strong class="text-sm lg:text-xl text-white/90 font-light">Automation & Scripting:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>Selenium</li>
                            <li>BeautifulSoup</li>
                        </ul>
                    </li>
                    <li class="mt-4"><strong class="text-sm lg:text-xl text-white/90 font-light">Other Skills:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>API Integration</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="p-5 lg:p-10 rounded-[10px] lg:rounded-[25px] bg-[#1c0c19] mt-[1vw] lg:mt-[1.5vw]">
        <div>
            <h2 class="text-white text-2xl lg:text-4xl leading-none">SIDROY</h2>
            <p class="text-xs lg:text-lg text-white/50">Siddhartha Roy</p>
        </div>
        <div class="">
            <p class="text-white font-light text-xs lg:text-lg mt-2 border-l-2 border-orange-500 pl-2">
                An Anime Animator, Gamer, and Indie Game Developer, Specializes in Fluid Character Animations, Dynamic Action 
                Sequences, and Immersive Storytelling. Working in 2D and 3D Animation, Bringing Games to Life with 
                Expressive Visuals, Smooth Transitions, Detailed Environments, and Engaging Gameplay Mechanics.
            </p>
            <div class="mt-4 lg:mt-8">
                <h3 class="text-white text-xl lg:text-2xl leading-none">TECH STACK</h3>
                <ul class="font-light lg:text-lg">
                    <li class=""><strong class="text-sm lg:text-xl text-white/90 font-light">Animation & Modeling:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>Blender</li>
                            <li>Flippa Clip</li>
                        </ul>
                    </li>
                    <li class="mt-4"><strong class="text-sm lg:text-xl text-white/90 font-light">Game Development:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>Roblox Studios</li>
                            <li>Unreal Engine</li>
                        </ul>
                    </li>
                    <li class="mt-4"><strong class="text-sm lg:text-xl text-white/90 font-light">2D/3D Art:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>Ibis Paint</li>
                            <li>Photshop</li>
                        </ul>
                    </li>
                    <li class="mt-4"><strong class="text-sm lg:text-xl text-white/90 font-light">Video Editing & VFX:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>Premire Pro</li>
                            <li>MS Designer</li>
                            <li>CapCut</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="p-5 lg:p-10 rounded-[10px] lg:rounded-[25px] bg-[#1c0c19] mt-[1vw] lg:mt-[1.5vw]">
        <div>
            <h2 class="text-white text-2xl lg:text-4xl leading-none">Agatha</h2>
            <p class="text-xs lg:text-lg text-white/50">.........</p>
        </div>
        <div class="">
            <p class="text-white font-light text-xs lg:text-lg mt-2 border-l-2 border-orange-500 pl-2">
                A Talented UI/UX Designer with a Keen Eye for Aesthetics and User Experience, Specializing in Creating 
                Intuitive and Visually Appealing Designs. Also a Beginner in Software Development, Eager to Learn Full-Stack 
                Technologies and Apply Design Principles to Real-World Projects.
            </p>
            <div class="mt-4 lg:mt-8">
                <h3 class="text-white text-xl lg:text-2xl leading-none">TECH STACK</h3>
                <ul class="font-light lg:text-lg">
                    <li class=""><strong class="text-sm lg:text-xl text-white/90 font-light">UI/UX Design:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>Figma</li>
                            <li>Canva</li>
                            <li>Adobe XD</li>
                        </ul>
                    </li>
                    <li class="mt-4"><strong class="text-sm lg:text-xl text-white/90 font-light">Graphic Design:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>Photshop</li>
                            <li>Illustrator</li>
                        </ul>
                    </li>
                    <li class="mt-4"><strong class="text-sm lg:text-xl text-white/90 font-light">Prototype & Wireframe:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>Figma</li>
                        </ul>
                    </li>
                    <li class="mt-4"><strong class="text-sm lg:text-xl text-white/90 font-light">Frontend Basics:</strong>
                        <ul class="ml-2 lg:ml-4 text-xs lg:text-base border-l-2 border-orange-500 pl-2 text-white/70">
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JS(Beginner)</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>