<main class="lg:flex-1 overflow-y-auto lg:ml-[1.5vw] [::-webkit-scrollbar]:hidden [scrollbar-width:none] lg:relative rounded-[10px] lg:rounded-[25px] landing-hero-container" >
    <section class="flex justify-center items-center p-5 lg:p-10 rounded-[10px] lg:rounded-[25px] bg-[#1c0c19] home-sec1-hero">
       <p class="uppercase text-white/60 text-2xl lg:text-5xl">Work In Progress</p>
    </section>
</main>