<main class="lg:flex-1 overflow-y-auto lg:ml-[1.5vw] [::-webkit-scrollbar]:hidden [scrollbar-width:none] lg:relative rounded-[10px] lg:rounded-[25px] landing-hero-container" >
    <section style="padding: 10px; width: auto; z-index: 100; " class="bg-[#3c7068] rounded-[10px] lg:rounded-[25px] home-sec1-hero">
       <p class="text-white text-xl">Work In Progress (Projects)</p>
    </section>
    <section style="padding: 10px; width: auto;" class="h-[40vh] mt-[1vw] lg:mt-[2vw] rounded-[10px] lg:rounded-[25px] bg-[#3c7068]">
       
    </section>
</main>