<main class="flex-1 overflow-y-auto ml-[2vw] [::-webkit-scrollbar]:hidden [scrollbar-width:none] relative" style="height: 88vh; border-radius: 25px;">
    <section style="padding: 10px; width: auto; height: 88vh; z-index: 100; position: relative;" class="bg-[#3c7068]"> 
    </section>
</main>